<nav class="navbar navbar-inverse mit-header" role="navigation" style="border-radius: 0;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">InterviewBit
		<span style="margin-left:5px;background-color:#B71C1C;padding:5px;border-radius:5px;">Beta</span>
	  </a>
    </div>

<div class="collapse navbar-collapse" id="navbar-collapse">
      <div class="pull-left">
            <div class="navbar-form form-group pull-left" role="search">
              <form action="/search/" accept-charset="UTF-8" method="get">
                  <div class="input-group">
                    <select class="multi-tag-search form-control" style="width: 24em; display: none;" name="q[]" multiple="" tabindex="-1"></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 24em;"><span class="selection"><span class="select2-selection select2-selection--multiple" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" aria-owns="select2-q[]-fc-results"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="-1" role="textbox" placeholder="Search by tags" style="width: 360px;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
</form>            </div>
      </div>
      <div class="navbar-nav navbar-right">
        <ul class="nav navbar-nav">
              <li>
                <a data-toggle="tooltip" data-placement="bottom" title="" href="/chat/" target="_blank" data-original-title="Stuck? Need help? Have a problem? Talk to us!">
                  <span class="glyphicon glyphicon-comment"></span>
                  <span class="user-score header-items">Help</span>
                </a>
              </li>
              <li>
                <a data-toggle="tooltip" data-placement="bottom" title="" href="/courses/programming/topics/puzzles/" data-original-title="Go To Puzzle Problems">
                  <span class="glyphicon glyphicon-flag"></span>
                  <span class="puzzle-problems header-items">Puzzles</span>
                </a>
              </li>
              <li>
                <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Total Score: 314">
                  <span class="glyphicon glyphicon-flash"></span>
                  <span class="user-score header-items">314</span>
                </a>
              </li>
              <li>
                <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="0 Days Streak">
                  <span class="glyphicon glyphicon-fire"></span>
                  <span class="user-streak header-items">0</span>
                </a>
              </li>
              <li>
                <span class="user-level"></span>
              </li>
              <li class="dropdown">
                <a id="nav-dLabel" data-target="#" href="/settings" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                  Deepak Kathayat
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="nav-dLabel">
                  <li><a href="/settings/">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/users/sign_out/" data-method="delete" rel="nofollow">Log Out</a></li>
                </ul>
              </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
